main {
  width: 100%;
  height: 100%;
}
.coffee_mainttl {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100px;
}
.coffee_mainttl > p {
  font-size: 30px;
}
.coffee_mainttl > div > i {
  font-size: 12px;
}
.coffee_mainttl > div > a > i {
  font-size: 12px;
}

.coffee_info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/** 커피페이지 슬라이드 */
.coffee_slider img {
  width: 100%;
  height: 100%;
  vertical-align: top;
  object-fit: cover;
}

.coffee_container {
  width: 100%;
  height: 100%;
  max-width: 626px;
  max-height: 670px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
}
.coffee_slider_wrap {
  max-height: 670px;
}

.coffee_container > .coffee_slider_wrap {
  overflow: hidden;
}
.coffee_container > .coffee_slider_wrap .coffee_slider {
  position: relative;
  transition: 0.5s;
}

.coffee_slider_ttl {
  font-weight: 800;
}
.coffee_slider_li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  float: left;
}
.coffee_slider_li p {
  font-size: 12px;
}
.coffee_slider_seemore {
  border: 2px solid black;
  border-radius: 3px;
  margin-top: 10px;
  width: 130px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.coffee_container > .coffee_arrow a.prev {
  position: absolute;
  left: -50px;
  top: 200px;
}

.coffee_container > .coffee_arrow a.next {
  position: absolute;
  right: -50px;
  top: 200px;
}

/** 보도자료와 이용안내 css  */
.release_usewebinfo {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
}
.btn_circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 25px;
  cursor: pointer;
}

i {
  font-size: 25px;
}
.release {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 100px;
  background-color: #111111;
  color: white;
  font-size: 20px;
}
.usewebinfo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 100px;
  background-color: #0f5e3f;
  color: white;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

/** 커피에 대한 내용 */
.coffee_odd {
  width: 100%;
  position: relative;
}
.coffee_odd > img {
  width: 100%;
  vertical-align: middle;
  height: 800px;
  opacity: 60%;
}
.coffee_odd_txt {
  position: absolute;
  top: 25%;
  left: 70%;
  width: 100%;
  transform: translate(-50%, 50%);
  font-size: 40px;
  text-align: center;
  color: black;
}
.coffee_odd_txt > p > span {
  font-weight: 800;
}
.coffee_odd_second {
  font-size: 30px;
}
.coffee_odd_last {
  font-size: 20px;
}
.coffee_even {
  width: 100%;
  position: relative;
}
.coffee_even > img {
  width: 100%;
  vertical-align: middle;
  height: 800px;
  opacity: 50%;
}
.coffee_even_txt {
  position: absolute;
  top: 25%;
  left: 30%;
  width: 100%;
  transform: translate(-50%, 50%);
  font-size: 40px;
  text-align: center;
}
.coffee_even_txt > p > span {
  font-weight: 800;
}
.coffee_even_second {
  font-size: 30px;
}
.coffee_even_last {
  font-size: 20px;
}
