body {
  width: 100%;
  height: 100%;
}
img {
  width: 100%;
  height: 2500px;
}

/** 공지사항과 프로모션 css  */
.announce_promotion_wrap {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  flex-direction: column;
  width: 100%;
}
.announce_promotion {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
.btn_circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 25px;
  cursor: pointer;
}
.btn_circle_black {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 25px;
}
i {
  font-size: 25px;
}
.announce {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100px;
  background-color: #111111;
  color: white;
  font-size: 20px;
  font-weight: 700;
}
.promotion {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100px;
  background-color: #fff;
  color: black;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

/** 프로모션 슬라이드 css*/
.pd_slider img {
  width: 100%;
  height: 100%;
  vertical-align: top;
}

.promotion_dropdown {
  width: 100%;
  height: 100%;
  max-width: 626px;
  max-height: 670px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
}
.promotion_dropdown::after {
  content: "";
  display: block;
  clear: left;
}

.promotion_dropdown > .pd_slider_wrap {
  overflow: hidden;
}
.promotion_dropdown > .pd_slider_wrap .pd_slider {
  position: relative;
  transition: 0.5s;
}

.pd_slider_ttl {
  font-weight: 800;
}

.pd_slider_li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  float: left;
}
.pd_slider_li p {
  font-size: 12px;
}
.pd_slider_seemore {
  border: 2px solid black;
  border-radius: 3px;
  margin-top: 10px;
  width: 130px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.promotion_dropdown > .pd_arrow a.prev {
  position: absolute;
  left: -50px;
  top: 200px;
}

.promotion_dropdown > .pd_arrow a.next {
  position: absolute;
  right: -50px;
  top: 200px;
}

/** 리워즈 회원가입과 로그인 e-gift card css */

.rewards_gift_card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
  background-color: #1e3932;
  color: #fff;
}
.rewards_logoinfo {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rewards_logo > img {
  width: 200px;
  height: 200px;
}
.txt_bold {
  font-weight: 800;
}
.rewards_logo {
  width: 20%;
}
.rewards_info {
  width: 80%;
}
.rewards_info_top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  text-align: left;
}
.rewards_info_top_txt {
  font-size: 24px;
}

.rewards_info_top_logsign_btn {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 25px;
}
.rewards_info_top_logsign_btn a {
  color: white;
}
.rewards_info_top_sign_up {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 45px;
  background-color: #00704a;
  border-radius: 5px;
  font-size: 15px;
  margin-right: 10px;
  cursor: pointer;
}

.rewards_info_top_login {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 40px;
  border: 2px solid #fff;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
}

hr {
  width: 100%;
}

.rewards_info_down {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  text-align: left;
}
.rewards_info_down_txt {
  font-size: 24px;
}
.rewards_info_down_gift_btn {
  font-size: 18px;
}
.rewards_info_down_gift_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210px;
  height: 40px;
  border: 2px solid #fff;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
}
