/**전체 css  */
* {
  padding: 0;
  margin: 0;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  font-size: 14px;
}
header {
  top: 0;
  height: 120px;
}
main {
  top: 110px;
  height: 500vh;
}
footer {
  height: 300px;
}
/**전체 css 끝  */

.nav_bar {
  position: fixed;
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #f6f5ef;
}
.nav_category {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
/***********  네비게이션 상단 부분 시작 top_nav */
.top_nav > ul > li {
  float: left;
}

.top_nav {
  width: 100%;
  height: 20px;
}
/***********  네비게이션 상단 부분 끝 top_nav */

/*********** 네비게이션 하단 부분 시작 down_nav */

.down_nav {
  width: 100%;
  height: 100%;
}

/** 네비게이션 바 ul 가로 */
.nb_sub_inner > ul {
  float: left;
}

/** 네비게이션 바 li 가로 */
.down_nav > ul > li {
  float: left;
}
ul > .down_nav_category {
  width: 20%;
  text-align: center;
  line-height: 40px;
}

.nb_sub {
  display: none;
  height: 0;
  top: 66px;
  position: absolute;
  width: 100%;
}
.nb_sub a {
  display: block;
  text-align: center;
}
.nb_sub_inner {
  width: 1100px;
  position: relative;
}

.down_nav_category:hover .nb_sub {
  display: block;
}

/***********  네비게이션 하단 부분 끝 down_nav */
